.setting__component{
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.setting__component p{
    margin-right: 7px
}

p{
    margin-bottom: 0
}

button{
    background: #a3c5d9;
    padding: 6px;
    color: white !important;
    outline: none;
    border: none
}

.setting__btn{
    display: flex;
    justify-content: center;
    margin-top: 10px
}

.setting{
    border: 1px solid;
    padding: 10px 5px
}

.setting__component{
    margin-bottom: 10px
}

.img{
    width: 200px;
    height: auto
}

.img.empty{
    width: 0
}

.photo__component{
    display: flex
}

.setting__component.photo{  
    flex-direction: column;
    align-items: flex-start
}

.upload__file{
    margin-top: 10px;
    margin-left: 48px
}