<div class="setting__wrapper">

        <a
        routerLink="/main"
        routerLinkActive="active"
        class="back__btn"
        >Back</a>

    <form 
        class="setting"
        [formGroup]="inputForm" 
    >
        <div class="setting__component">
            <p>Name:</p>
            <input 
            type="text" 
            formControlName="name"
            name="name"
            value="{{name}}">
        </div>

        <div class="setting__component photo">
            <div class="photo__component">
            <p>Photo:</p>

            <img 
            *ngIf=imagePath
            [ngClass] = "imagePath ? 'img' : 'img empty'"
            alt=""
            src="http://localhost:8008/{{imagePath}}" 
            name="{{imagePath}}"
            >
        </div>

            <input 
            class="upload__file"
            type="file" 
            name="uploadFile" 
            (change)="addPhoto($event)"
            formControlName="uploadFile"
            multiple
        />
    

        </div>

        <div class="setting__btn">
            <button
            (click)="onSend()"
            >Save</button>
        </div>
    </form>
</div>