<div class="setting__wrapper">

        <a
        routerLink="/main"
        routerLinkActive="active"
        class="back__btn"
        >Back</a>

    <div class="setting">
        <div class="setting__component">
            <p>Name:</p>
            <input type="text" value="{{name}}">
        </div>

        <div class="setting__component">
            <p>Photo:</p>
            <p></p>
        </div>

        <div class="setting__btn">
            <button>Save</button>
        </div>
    </div>
</div>