<div>
    <div class="header__wrapper">
    <div class="name">Username: <span>{{userName}}</span></div>
    <div class="history">
        <a
        routerLink="/history"
        routerLinkActive="active"
        >History</a>
    </div>
    </div>
<div id="main__wrapper" class="main__wrapper">
    <div id="message__wrapper-all">
     
        <div
     class="message__wrapper"
     id="message__wrapper"
     >
     <div
     *ngFor="let i of messages"
     [ngClass]="userId == i.userId ? 'current message__block' : 'message__block'"
     >
        <div
        class="message"
        >
        <div class="message__user">
        <p>
                <img 
                class="chat__photo"
                *ngIf="i.photo" 
                src="http://localhost:8008/{{i.photo}}" 
                name="{{i.photo}}"
                >
            <span
            >{{i.name}}</span>
             at</p>
        <p>{{i.createdAt | date:"HH:mm:ss"}}:</p>
        </div>
        <div class="message__text">
    <p>{{i.text}}</p>
    <img 
    class="chat__img"
    *ngIf="i.img" 
    src="http://localhost:8008/{{i.img}}" 
    name="{{i.img}}"
    (click) = "onShowModal(i.img)"
    >
    </div>
    </div>
    </div>
    </div>
   
    </div>
</div>

<div
class="input__wrapper"
>

    <form
    class="input__form"
    enctype="multipart/form-data"
    id="input__form"
    [formGroup]="inputForm" 
    >
 
    <input
    type="text"
    name="text"
    id="text"
    formControlName="text"

    >

    <input 
    type="file" 
    name="uploadFile" 
    (change)="addPhoto($event)"
    formControlName="uploadFile"
    multiple
    />

    <button
    (click)="onShowSmile()"
    >:-)</button>

    <button
    (click)="onSend()"
    >send</button>

    </form>

    <div *ngIf="showSmile==true">
        <smile-page></smile-page>
    </div>

</div>
    <div 
        *ngIf="showImg==true"
        class="show__img">  
        <div 
            class="close"
            (click)="onCloseModal()"
            >
                <p>x</p>
        </div>
         <img 
         src="http://localhost:8008/{{modalImg}}"
         >
    </div>
    <div
        *ngIf="showImg==true"
        class="mask"></div>
</div>
