.message__wrapper {
    margin-top: 10px;
}

.input__wrapper {
    height: 60px;
    margin-top: 20px
}

input {
    width: 77%
}

.name {
    margin-top: 10px
}

.name span {
    color: brown;
    font-weight: bold
}

.example-viewport {
    height: 360px;
    width: 100%
}

.example-item {
    height: 50px;
}

.main__wrapper {
    border: 1px solid black
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.input__file {
    width: 200px
}

.input__wrapper {
    display: flex;
    height: 28px;
}

.input__form input {
    width: 100%
}

.input__form {
    display: flex;
    align-items: center;
    width: 100%
}

.message img {
    width: 50px;
    height: auto;
}

.message{
    display: flex;
    align-items: center
}