.message__wrapper {
    margin-top: 10px;
}

.input__wrapper {
    height: 60px;
    margin-top: 20px
}

input {
    width: 77%
}

.name {
    margin-top: 10px
}

.name span {
    color: brown;
    font-weight: bold
}

.example-viewport {
    height: 360px;
    width: 100%
}

.example-item {
    height: 50px;
}

.main__wrapper {
    border: 1px solid black
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.input__file {
    width: 200px
}

.input__wrapper {
    display: flex;
    height: 28px;
}

.input__form input {
    width: 100%
}

.input__form {
    display: flex;
    align-items: center;
    width: 100%
}

.message img {
    width: 50px;
    height: auto;
}

.message {
    display: flex;
    align-items: center
}

.show__img {
    max-width: 400px;
    max-height: 100%;
    min-height: 60px;
    min-width: 60px;
    border: 1px solid;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 10px;
    z-index: 1000;
    transform: translateY(-50%) translateX(-50%);
    width: 80vw
}

.show__img img {
    width: 100%;
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.show__img .close {
    position: absolute;
    right: -10px;
    top: -10px;
    background: black;
    color: white;
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center
}

.show__img .close p{
    margin: 0 0 3px 0
}

.chat__img{
    cursor: pointer;
}