<div>
        <a
        routerLink="/main"
        routerLinkActive="active"
        >Back</a>


<div class="main__wrapper history">
                <div id="message__wrapper-all">
                 
                    <div
                 class="message__wrapper"
                 id="message__wrapper"
                 >
                 <div
                 *ngFor="let i of messages"
                 [ngClass]="userId == i.userId ? 'current message__block' : 'message__block'"
                 >
                    <div
                    class="message"
                    >
                    <p>
                        <span
                        [ngClass]="userId == i.userId ? 'current' : ''"
                        >{{i.name}}</span>
                         at</p>
                    <p>{{i.createdAt| date:"HH:mm:ss"}}:</p>
                <p>{{i.text}}</p>
                <img 
                *ngIf="i.img" 
                class="chat__img"
                src="http://localhost:8008/{{i.img}}" 
                name="{{i.img}}"
                >
                </div>
                </div>
                </div>
                </div>
            </div>
</div>