
.message__wrapper{
    margin-top: 10px;
}

.input__wrapper{
    height: 60px;
    margin-top: 20px
}

input{
    width: 83%
}

.name{
    margin-top: 10px
}

.name span{
    color: brown;
    font-weight: bold
}

.example-viewport {
    height: 360px;
    width: 100%
  }
  
  .example-item {
    height: 50px;
  }

  .main__wrapper{
      border: 1px solid black
  }

  .header__wrapper{
      display: flex;
      align-items: center;
      justify-content: space-between
  }