.content__wrapper{
    min-height: 400px;
    margin: 10px
}

a.active{
    text-decoration: underline
}

.header h3{
    font-size: 20px;
    text-align: center
}

.content{
    padding: 10px
}

.link__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
}

.back{
    padding: 0 10px;
}

.wow{
    z-index: 1005;
    background: url('../../src/app/img/loader.gif') 50% 50% no-repeat;
    background-size: 40px;
    background-color: white
}

.load__wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 1005;
    background: url('../../src/app/img/loader.gif') 50% 50% no-repeat;
    background-size: 40px;
    background-color: lightblue;
    opacity: 0.5;
}

.show{
    display: block
}

.link__wrapper{
    background: #6ab0d9;
    padding: 20px 0;
}

.link__wrapper a{
    color: white;
    font-weight: bold
}

a.active{
    text-decoration: underline;
}

.back{
    padding: 10px 10px
}

.back a{
    background: #6ab0d9;
    padding: 6px;
    color: white !important;
}

.content__wrapper{
    margin-top: 0
}

.logout{
    background: #a3c5d9;
    padding: 6px;
    color: white !important;
}

a{
    cursor: pointer;
}

.app__wrapper{
    max-height: 528px;
}

.app__wrapper{
    position: relative
}


.main__wrapper{
    height: 400px;
    overflow-y: auto;
}

.message{
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
}

.message p{
    margin-right: 5px;
}

.message p:first-child span{
    color: green;
    font-weight: bold;
}

.message.current p:first-child span{
    color: brown; 
    text-decoration: underline
}

.message.current{
    align-items: flex-end;
}

.message p:nth-child(2){
    color: blue;
    font-weight: bold;
}

.message{
    flex-direction: column;
    align-items: flex-start;
    background: #dae8ed;
    border-radius: 10px;
    margin: 10px;
    padding: 7px
}

.message__user{
    display: flex
}

.message p{
    margin-bottom: 0
}

.message__text{
    margin-bottom: 5px
}