<div class="app__wrapper">

    <div class="header__wrapper">
        <div
        (clickOutside)="onClickedOutside()"
        >
        <p
        class="menu__btn"
        *ngIf="showLogoutUi == true"
        (click)="onShowMenu()"
        >menu</p>

        <div 
        *ngIf="showLogoutUi == true"
        [ngClass] = "showMenu == true ? 'menu show' : 'menu'"
        >
        <div 
        class="close"
        (click)="onClose()"

        >x</div>
        <div class="menu__main">
            <h3>Menu</h3>
        </div>
            <div class="menu__item">
                <img alt="">
                <a
                    routerLink="/main"
                    routerLinkActive="active"
                    (click)="onClose()"
                >Main page</a>
            </div>

            <div class="menu__item">
                <img alt="">
                <a
                    routerLink="/setting"
                    routerLinkActive="active"
                    (click)="onClose()"
                >Setting</a>
            </div>

        </div>
</div>

<div class="img__wrapper">
<img
    class="logo"
    src="../img/logo.png"
>
</div>

        <a
        *ngIf="showLogoutUi == true"
        class="logout"
        (click)="logout()"
        routerLink="/login"
        routerLinkActive="active"
        >
        logout
        </a>
        </div>

    <router-outlet></router-outlet>
</div>