.smile{
    display: flex;
    flex-wrap: wrap;
    border: 1ps solid;
    background: lightgrey;
    width: 200px
}

.smile p{
    margin: 6px;
    cursor: pointer
}

.smile__window{
    position: absolute;
    right: 62px;
    bottom: 47px;
}